@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --haupt-farbe: #ff3030;
  --text-farbe: #ddd;
}
nav {
  height: 9vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verlinkungen {
  padding: 0 3vw 0 3vw;
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1rem;
  text-align: center;
}
.verlinkungen:hover {
  color: #ff3030;
}
.hero {
  margin: 0;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Georgische-Kueche.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1.title {
  margin: 0 0 1.5rem 0;
  line-height: 3rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Lobster", sans-serif;
}

p.subtitle {
  font-size: 1.5rem;
  margin: 0 0 3rem 0;
  text-align: center;
  color: #ddd;
}

.button {
  display: inline-block;
  font-size: 1.25rem;
  background-color: var(--haupt-farbe);
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.anrufen {
  width: fit-content;
}
.email {
  width: fit-content;
  background-color: transparent;
  color: var(--haupt-farbe);
  border: 2px solid var(--haupt-farbe);
}
.button:hover {
  background-color: transparent;
  border: 2px solid var(--haupt-farbe);
  color: var(--haupt-farbe);
}
.email:hover {
  background-color: var(--haupt-farbe);
  color: #fff;
}
.container {
  max-width: 85%;
  margin: 0 auto;
}
.heading {
  margin: 2rem 0 1rem 0;
  border-bottom: 1px #ff3030 solid;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: fit-content;
}
.beschreibung {
  font-size: 0.9rem;
  color: var(--text-farbe);
}
.zweite-action {
  padding: 1.2rem 2.5rem;
  margin-top: 2rem;
}
.rechts {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.large-image {
  max-width: 50%;
}
.sub-rechts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ueber-uns {
  display: grid;
  gap: 2rem;
}
.oeffnungszeiten {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./khinkali.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}
.sub-oeffnungszeiten {
  margin: 3rem auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
}
.schedule {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tage {
  text-align: left;
  color: #ddd;
}
.zeit {
  text-align: right;
  color: var(--text-farbe);
}
.heading-oeffnungszeiten {
  width: 100%;
  letter-spacing: 0.15rem;
}
.sub-kontakt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.kontakt .heading {
  margin-top: 0;
}
.kontakt-info {
  line-height: 1.8rem;
  color: var(--text-farbe);
}
.kontakt-buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.kontakt-bild {
  width: 100%;
}
footer {
  background-color: #303030;
  margin-top: 2rem;
}
.footer-verlinkungen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  font-size: 0.8rem;
}
.copyright {
  text-align: center;
  padding: 1rem 0 1.5rem 0;
  font-size: 0.8rem;
  color: var(--text-farbe);
}
@media only screen and (min-width: 600px) {
  h1.title {
    line-height: 4rem;
    font-size: 4rem;
    margin: 0 0 1.8rem 0;
  }

  p.subtitle {
    font-size: 1.6rem;
    margin: 0 0 3.5rem 0;
  }

  .hero-action {
    font-size: 1.4rem;
    padding: 1.2%;
  }
  .beschreibung {
    font-size: 1rem;
  }
  .sub-kontakt {
    flex-direction: row;
    align-items: center;
  }
  .kontakt-bild {
    width: 50%;
  }
  .kontakt-daten {
    margin: auto;
  }
  .kontakt-buttons {
    display: flex;
    flex-direction: row;
  }
  .anrufen,
  .email {
    padding: 1rem 0.8rem;
  }
  .footer-verlinkungen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    font-size: 1rem;
  }
  footer {
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .verlinkungen {
    font-size: 1rem;
  }

  h1.title {
    line-height: 5rem;
    font-size: 4.5rem;
    margin: 0 0 1.9rem 0;
  }

  p.subtitle {
    font-size: 1.7rem;
    margin: 0 0 3.8rem 0;
  }

  .hero-action {
    font-size: 1.5rem;
    padding: 1.25%;
  }
  .heading {
    font-size: 2rem;
  }
  .ueber-uns {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }
  .rechts .sub-rechts {
    gap: 1rem;
  }
  .zeit,
  .tage {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .kontakt-daten .heading {
    margin-bottom: 2rem;
  }
  .kontakt-info {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
  footer {
    padding: 1.5rem 0 1.2rem;
  }
}
